# Python
__pycache__/
*.py[cod]
*.class

# SQLite Database
*.db
*.sqlite3

# Environment
.env
venv/
.venv/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploads & Settings
settings.json
static/uploads/
